/* COMMON */

body {
  padding-bottom: 40px;
}

#avatar {
  float: right;
  margin-top: 15px;
}

.label {
  font-size: 100%;
}

section > .content {
  margin-top: 21px;
}

h2 {
  font-size: 18px;
}

.publications {
  padding-left: 14px;
}

.publications li {
  padding-top: 5px;
}

.publications li:first-child {
  padding-top: 0;
}

.workshop {
  font-size: 16px;
  padding-bottom: 5px;
}

.workshop:last-child {
  padding-bottom: 0;
}

.hidden {
}

/* ABOUT */

h1 > .subtitle {
  margin-top: 5px;
  font-size: 18px;
}

#specializations {
  margin-top: -5px;
  margin-bottom: 12px;
}

#specializations .label {
  display: inline-block;
  margin-top: 4px;
}

/* END OF ABOUT */
