/* COMMON */

#avatar {
  float: right;
  margin-top: 15px;
}

.label {
  font-size: 100%;
}

/* ABOUT */

h1 > .subtitle {
  font-size: 18px;
}

#specializations {
  margin-top: 9px;
  margin-left: -5px;
  margin-bottom: 12px;
}

#specializations .label {
  display: inline-block;
  margin-top: 4px;
}

/* END OF ABOUT */
